.form {
  margin: auto;
  width: 200px;
  height: 700px;
}

.input {
  width: 200px;
  height: 30px;
  margin-top: 15px;
}

.button {
  height: 25px;
  width: 105px;
  border-radius: 10px;
  background-color: cadetblue;
  margin-left: 50px;
  margin-top: 10px;
}

.product {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.items {
  height: 300px;
  width: 250px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

.productbox {
  margin-left: 0px;
  width: 1800px;
  height: 1000px;
  border: 1px solid black;
  margin-top: -350px;
  display: inline-block;
}

.detail {
  border: 1px solid black;
  height: 200px;
  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  /* flex-wrap: wrap; */
}

.home {
  margin-left: 80px;
}

.updating {
  margin-left: 85px;

}

.updating2 {
  margin-left: 65px;

}